* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body {
	background-color: #22262a;
	color: white;
	font-family: 'Source Code Pro', monospace;
}




/* Header */ 
header {
	position: absolute;
	width: 100%;
}

/* Logo */ 
.logo a {
	font-family: 'Zilla Slab Highlight', Arial, Helvetica, sans-serif;
	font-size: 2rem;
	color: white;
}

/* Nav */
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.4rem;
}
nav ul {
	display: flex;
	list-style: none;
}
nav li {
	padding: 0px 30px;
}
nav li a {
	transition: all 0.2s linear;
	font-size: 1.7em;
	text-decoration: none;
	color: white;
}
nav li a:hover {
	display: inline-block;
	color: #ddd;
	transform: scale(1.05);		
}
/* Main Section */ 
main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
}	
main h2 {
	font-size: 5rem;
}
main p {
	color: #94a4b4;
	font-size: 2rem;
}
main div {
	display: none;
	background-color: white;
	height: 0.5vw;
	width: 60vw;
	margin: 5vw 0px;
}
/* Socials */
.socials {
	display: fixed;
	position: fixed;
	top: 40%;
	list-style: none;
}
.socials a {
	position: relative;
	text-decoration: none;
	left: -90px;
	transition: left 0.18s ease-out;
}
.socials li {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	width: 150px;
	padding: 3px;
	font-size: 1rem;
	font-weight: 600;
	color: white;
}
.socials a:hover {
	left: 0px;
}
.socials a:hover > li {
	background-color: #3f4750;
	justify-content: space-around;
}
.socials i {
	font-size: 3rem;
}
.socials a:last-child i {
	font-size: 2.5rem;
}
/* Small Socials */ 
.small-socials {
	display: none;
	position: relative;
	justify-content: space-around;
	width: 80vw;
	top: 0;
	left: 0;
}
.small-socials li {
	flex-direction: column-reverse;
	align-items: space-between;
	left:0;
	height: 5rem;
	width: auto;
}

/* Projects */ 
.projects {
	display: grid;
	grid-template-columns: 50px 1fr 1fr 1fr 50px;
	grid-template-rows: 10% 1fr 1fr;
	grid-gap: 5vw;
	grid-template-areas: 
		". h2 h2 h2 ."
		". p1 p2 p3 ."
		". p4 p5 p6 .";
	margin-top: 5%;
	height: 55vw;
	width: 100%;
}
.projects h2 {
	grid-area: h2;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #94a4b4;
	font-size: 2.5rem;
}
.project {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	border: 2px solid #fff;
	border-radius: 0.5rem;
}
.project[data-pnum="1"] {
	grid-area: p1;
}
.project[data-pnum="2"] {
	grid-area: p2;
}
.project[data-pnum="3"] {
	grid-area: p3;
}
.project[data-pnum="4"] {
	grid-area: p4;
}
.project[data-pnum="5"] {
	grid-area: p5;
}
.project[data-pnum="6"] {
	grid-area: p6;
}

.more {
	display: none;
	background-color: #ddd;
	color: #171a1d;
	border-radius: 0.2rem;
	font-size: 1.1rem;
	padding: 1rem 2rem;
	cursor: pointer;
	margin-bottom: 2rem;
	transition: all 0.2s linear;
}
.project:hover > .more {
	display: block;
}
.more:hover {
	transform: scale(1.05);
	background-color: #ccc;
}

/* Modals */ 
.back-modal {
	display: none;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0, 0.4);
}
.modal {
	display: none;
	position: absolute;
	width: 50rem;
	height: 35rem;
	background-color: #22262a;
}
.modal.open, .back-modal.open {
	display: flex;
}
.exit {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 2.5rem;
	height: 2.5rem;
	top: 0.5rem;
	right: 0.5rem;
	cursor: pointer;
}
.xbar {
	position: absolute;
	background-color: white;
	height: 2px;
	width: 100%;
	transform: rotate(45deg);
}
.xbar:first-child {
	transform: rotate(-45deg);
}



/* Footer */ 
footer {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 5%;
	height: 12vh;
	background-color: #171a1d;
}
footer a {
	color: white;
}
/* hamburger */
.burger {
	display: none;
	position: absolute;
	flex-direction: column;
	justify-content: space-between;
	width: 3.4rem;
	height: 2.5rem;
	top: 1.5rem;
	right: 1.5rem;
	cursor: pointer;
}
.burger div {
	width: 100%;
	height: 5px;
	background-color: white;
}




@media only screen and (max-width: 1200px) {
	.projects {
		grid-template-columns: 50px 1fr 1fr 50px;
		grid-template-rows: 10% 1fr 1fr 1fr; 
		grid-template-areas: 
			". h2 h2 ."
			". p1 p2 ."
			". p3 p4 ."
			". p5 p6 .";
		height: 130vw;
	}
}


@media only screen and (max-width: 768px) {
	/* burger menu */
	.burger {
		transition: all 0.05s linear;
		display: flex;
	}
	nav ul {
		display: none;	
	}

	/* main divider display */
	main div {
		display: block;
	}
	
	/* social display */
	.socials {
		display: none;
	}
	.small-socials {
		display: flex;
	}
	/* Nav */ 
	nav {
		background-color: #171a1d;
	}	
	/* Nav Menu */
	nav ul.open {
		display: flex;
		position: absolute;
		width: 100%;
		height: 8rem;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		top: 5rem;
		left: 0;
		background-color: #94a4b4;
	}
	nav ul.open a {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100vw;
		height: 4rem;
		color: #171a1d;
	}
	nav ul.open a:hover {
		background-color: #aebac6;
	}
	.burger.open {
		flex-direction: column;
		transform: rotate(-90deg);
		width: 3rem;
	}
	
	/* main text font */
	main h2 {
		font-size: 12vw;
	}
	main p {
		font-size: 7vw;
	}

	/* project grid */
	.projects {
		grid-template-columns: 3vw 1fr 3vw;
		grid-template-rows: 5% 1fr 1fr 1fr 1fr 1fr 1fr; 
		grid-template-areas: 
			". h2 ."
			". p1 ."
			". p2 ."
			". p3 ."
			". p4 ."
			". p5 ."
			". p6 .";
		height: 400vw;
	}
	.projects h2 {
		font-size: 6vw;
	}

	/* social display */
	.socials i, .socials a:last-child i{		
		font-size: 9vw;
	}
	.socials li {
		height: 14vw;
		font-size: 2.8vw;
	}
	.socials li:hover {
		background-color: initial;
	}
	/* footer */
	footer {
		flex-direction: column;
	}
}
@media only screen and (max-width: 500px) {
	.projects {
		height: 420vw;
	}
	.projects h2 {
		text-align: center;
	}


	/* footer */
	footer {
		text-align: center;
	}
}
@media only screen and (max-width: 765px) and (orientation: landscape) {
	main h2 {
		font-size: 8vw;
		margin-top: 4rem;
	}
	main p {
		font-size: 5vw;
	}
	main i {
		font-size: 5vw;
	}	
	main div {
		margin: 3vw 0px;
	}
	.socials i, .socials a:last-child i{		
		font-size: 6vw;
	}
	.socials li {
		height: 10vw;
		font-size: 2vw;
	}
}
